<h1 class= 'home-title'>Welcome To MealPreper</h1>
<img class= 'logo' src= 'https://i.pinimg.com/originals/12/b2/fe/12b2fe87fc23948f183fdd6b86445428.png'>


<div class="homebio">

<img class='floatleft' src="https://i2.wp.com/gimmedelicious.com/wp-content/uploads/2016/12/Meal-Prep-Roasted-Veggies-and-Chicken-2.jpg">


<p>No matter if you are a regular gym goer or just an 
occasional pre-summer visitor like myself, you are probably aware 
of the fact that only 20% of your results have to do with your workout efforts, 
    while the remaining 80% of your fitness is dependent upon your nutrition. 
        Eating healthy is not only crucial to our physical appearance, but 
        it makes up the majority of our overall health as well, a fact we are all 
        very familiar with, yet, for most of us the frustration comes as a result 
        of not always being able to follow a steady healthy eating regimen.
         Fortunately, there is solution to all of our troubles, and it is 
         called meal prep. Meal prep has been around for some time allowing 
         athletes, fitness enthusiasts, families and children to stick to their
          healthy meals of choice, and not to get into a downward spiral of eating 
          out and adding unnecessary calories.</p>


 <img class='floatright' src="https://chocolatecoveredkatie.com/wp-content/uploads/2019/12/Cauliflower-Meal-Prep-4-Ways.png" >


<p>If you’ve made it your mission to reap the full benefits of those hours in 
the pain cave, dialling in your nutrition is the most effective way to go about it.
 But you know that already.
You’ve read Men’s Health before. That a breakfast of scrambled eggs will fuel your 
muscles better than a chocolate-filled croissant will come as no surprise. And when
 fat loss is your focus, it would probably help to swerve the biscuit tin every now 
 and again. It’s hardly rocket science.</p>


</div>