/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body{
    background: url('back.png');
    background-size: cover;
  }
 
 ul.drop{
  list-style: none;
  text-align: center;
  margin: 0px;
  padding: 0px;
    
    }
  
  ul.drop li{
    float: left;
    width: 260px;
    height: 40px;
    background-color: white;
    opacity: .6;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
    margin-right: 6px;
    border-radius: 15px;

  
  }
  ul.drop li a{
      text-decoration: none;
      color: Black;
      display: block;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  ul.drop li:hover {
    background-color: lightcoral;
    list-style: none;

  }
  ul.drop li ul li{
    display: none;
  
  }
  ul.drop li:hover ul li{
    display: block;
  }



  #welcome{
    font-size: 200;
    font-family: fantasy;
    text-align: center;
    
}

.header{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: white;

}
.home-title{
  text-align: center;
  font-family: fantasy;
  color: white;
  opacity: .6;
  font-size: 60px;
  border-bottom: 3px solid  white ;
  


}

img.floatleft{
    height: 20%;
     width: 20%;
     float: left;
     margin-right: 40px;
     border: 20px solid lightcoral;


 }
 img.floatright{
   height: 20%;
    width: 20%;
    float: right;
    margin-left: 30px;
    border: 20px solid  lightcoral;

}
div.homebio{
  font-size: 30px;
  margin: 75px;
  padding: 20px;
  font-family: 'Trebuchet MS';
  color: rgb(128, 29, 29);
  
}
.logo{
    height: 15%;
    width: 15%;
    border-radius: 50px;
    display: block;
    margin-left: auto;
     margin-right: auto;
     margin-top: 7px;
 


}






  
