// Place all the styles related to the AvailableMeals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
form{
    text-align: center;
    color: white;
    margin: 0px;
    font: 40px;

  }

  form input{
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid  white;
    color: white;
    font-size: 18px;
    margin-bottom: 28px;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;

}

form input[type=submit]{
    background: red;
    border-color: transparent;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    border-radius: 15px;


}
form input[type=submit]:hover{
    background-color: green;
    cursor: pointer;
  }
  .space{
    background-color: green;
    text-align: center;
    margin-left: 500px;
    margin-right: 500px;
    opacity: .7;
    border-radius: 15px;
    margin-bottom: 30px;
  }